### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data["SN"].value_counts().count()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_unique_items = purchase_data["Item Name"].nunique()
num_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
avg_price = total_revenue/num_purchases
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": num_unique_items,
                                   "Total Purchases": num_purchases,
                                   "Total Revenue": total_revenue,
                                   "Average Price": avg_price}, index=[0])
purchasing_analysis_df

   Number of Unique Items  Total Purchases  Total Revenue  Average Price
0                     179              780        2379.77       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_df = purchase_data[["SN", "Gender"]].drop_duplicates()
num_gender_df = gender_df["Gender"].value_counts().to_frame()
num_gender_df["Percentage"] = num_gender["Gender"]/total_players
num_gender_df

                       Gender  Percentage
Male                      484    0.840278
Female                     81    0.140625
Other / Non-Disclosed      11    0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
price_df = purchase_data[["SN", "Gender", "Price"]]
gender_group = price_df.groupby("Gender")
purchase_count = gender_group["Price"].count()
purchase_price = gender_group["Price"].mean()
purchase_avg = gender_group["Price"].sum()
purchasing_data_gender_df = pd.DataFrame({"Purchase Count": purchase_count,
                                         "Avg Purchase Price": purchase_price,
                                         "Avg Purchase Total": purchase_avg/num_gender_df["Gender"],})
purchasing_data_gender_df

                       Purchase Count  Avg Purchase Price  Avg Purchase Total
Gender
Female                            113            3.203009            4.468395
Male                              652            3.017853            4.065372
Other / Non-Disclosed              15            3.346000            4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df = purchase_data
age_df["Age Group"] = pd.cut(age_df["Age"], bins=age_bins, labels=group_names)
agegroup_df = age_df.groupby(age_df["Age Group"])

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame